.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

/* NAVBAR CSS */

.menu {
  width: 100%;

}

ul {
  width: 100%;
  overflow: hidden;
  background-color: #1b9b39;
  list-style: none;
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: row;
  align-items: center;

}

ul li a {
  float: right;
  display: block;
  color: white;
  text-align: center;
  padding: 15px 30px;
  text-decoration: none;
  font-size: 15px;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
  font-weight: 500;
  margin-top: auto;
  margin-bottom: auto;
}

ul li a:hover {
  background-color: #04a76b;
  color: white;
}

.logoImagen {

  float:left;
}