@import url('./components/NavBar/nav.css');
@import url('./components/CartWidget/cartWidget.css');
@import url('./components/ItemListContainer/ItemListContainer.css');
@import url('./components/Item/Item.css');
@import url('./components/ItemList/ItemList.css');
@import url('./components/ItemDetail/ItemDetail.css');
@import url('./components/ItemDetailContainer/ItemDetailContainer.css');
@import url('./components/Btn-det/Btn-Det.css');
@import url('./components/ItemDet/ItemDetailSingle.css');
@import url('./components/ItemDetail/ItemDetail.css');
@import url('./components/Btn-terminarCompra/BtnTerminarCompra.css');
@import url('./components/Cart/Cart.css');
@import url('./components/Contador/Contador.css');
@import url('./components/CartItem/CartItem.css');

.App {
  text-align: center;
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items:center;
  justify-content:flex-start;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}