.main-itemlist {
    display: flex;
    flex-direction: column;
    justify-content: center;
  
    width: 85%;
    height: 50vh;
    margin: 10vh auto;
    background-color:whitesmoke;
  }
  
  .main-itemlist h3 {
    color: #282c34;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    font-size: 20px;
  }