.cart-right {
    height: 25px;
    padding-right: 10px;
  }
  
  .derecha {
    display: flex;
    position: absolute;
    right: 5vh;
  }
  .numero-cart {
    margin: auto;
    font-size: 0.7em;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
  }

  .clear-cart {
    margin-left: 10px;
    border: 1PX solid white;
    background-color:transparent;
    color: rgb(255, 255, 255);
    font-size: 12px;
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    cursor: pointer;
  }