.container-tarjeta {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    width: 190px;
    background-color: white;
    border: 1px solid #04a76b;
    margin: 0 10px 0 10px;

  }
  
  .producto {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: center;
    padding: 10px 20px;
  }
  
  .h3-producto {
    border-top: 1px solid #04a76b;
    color: #282c34;
    padding: 3px 8px;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 50px;
  }

  .nombre-producto {

    font-size: 20px;
    color: #282c34;
    margin: 0 0 10px 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
  }


