.contador {
  display: flex;
  flex-direction: row;
  align-content: center;
  justify-content: center;
  margin: 0 auto;
}

.div-contador {
  
  color: #282c34;
  padding: 3px 8px;
  margin: 0;
  width: 40px;
  font-family: 'Roboto', sans-serif; 
  font-weight: 200;
  font-size: 10px;
}

.div-contador p {
  font-size: 15px;
  margin: 0 10px;
}

.btn-contador {
  border: 1px solid #04a76b;
  border-radius: 50%;
  background-color: #04a76b;
  color: white;
  font-size: 16px;
  width: 25px;
  height: 25px;
  cursor: pointer;
  margin: 0 10px;
}

.nombre-producto {

  font-size: 20px;
  color: #282c34;
  margin: 0 0 10px 0;
  font-family: 'Roboto', sans-serif; 
  font-weight: 300;
}


.btn-addCarrito {
  border: none;
  background-color: #282c34;
  color: white;
  font-size: 16px;
  width: 90%;
  height: 30px;
  cursor: pointer;
  font-family: 'Roboto', sans-serif; 
  font-size: 13px;
  font-weight: 500;
  margin: 10px auto 10px;
  
}

