.container-card {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: flex-end;
    height: auto;
    width: 200px;
    background-color: white;
    border: 1px solid #04a76b;
    margin: 0 10px 0 10px;

  }

  .container-card p {
    color: #282c34;
    font-size: 14px;
    margin: 5px auto;
  }

  .producto {
    display: flex;
    flex-direction: column;
    align-content: center;
    justify-content: center;
  }
  
  /* .h3-producto {
    border-top: 1px solid #04a76b;
    color: #282c34;
    padding: 3px 8px;
    margin: 0;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
    font-size: 50px;
  } */

  .nombre-producto {

    font-size: 15px;
    color: #282c34;
    margin: 0 auto;
    font-family: 'Roboto', sans-serif; 
    font-weight: 300;
  }


  .btn-addCarrito {
    border: none;
    background-color: #282c34;
    color: white;
    font-size: 16px;
    width: 135px;
    height: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 500;
    margin: 5px auto 10px;
    
  }