.cart-container {
    display: flex;
    flex-direction: row;
    align-content: flex-end;
    width: 100%;
    background-color: whitesmoke;
}

.cartList-container-row {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
    margin: auto;
    background-color:whitesmoke;
}

.cartList-container {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    width: 85%;
    height: 80vh;
    margin: auto;
    background-color:whitesmoke;
}

.actions-container {
    display: flex;
    flex-direction: column;
    width: 40vh;
    align-items: center;
    border-left: 1px solid #04a76b;
    margin-left: 60px;
    padding-left: 60px;
}

.final {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.productRow {
    display: flex;
    flex-direction: row;
}

.btn-general {
    border: none;
    background-color: #282c34;
    color: white;
    font-size: 16px;
    width: 135px;
    height: 30px;
    cursor: pointer;
    font-family: 'Roboto', sans-serif; 
    font-size: 13px;
    font-weight: 500;
    margin: 5px 5px 10px 5px;
    
  }

.botonesCart {
    display: flex;
    flex-direction: column;
    margin: 20px 20px 10px 20px;
}

.campo-form {
    padding: 10px;
    border: 1px solid #04a76b;
    margin: 10px;
    text-align: center;
}

.cart-product {
    color: whitesmoke;
}

form h2 {
    margin-top: 30px;
    font-size: 18px;
}

.cart-product h3 {
    color: red;
}